{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    Каталог
{% endblock %}

{% block links %}
      <link rel="stylesheet" href="{% static 'blog/css/catalog.css' %}">
{% endblock %}

{% block content %}
    <h1>Категории товаров</h1>
    <ul class="product_cat">
        <li><a href="{% url 'catalog' %}">Показать все товары</a></li>
        {% for cat in cats %}
            <li><a href="{% url 'category' cat_id=cat.pk %}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
    <h1>Сортировать товары по</h1>
    <ul class="sort_by">
    <li><a href="?sort_by=newest">По новизне</a></li>
    <li><a href="?sort_by=oldest">По старизне</a></li>
    <li><a href="?sort_by=name">По наименованию</a></li>
    <li><a href="?sort_by=price+">Сначала дешевые</a></li>
    <li><a href="?sort_by=price-">Сначала дорогие</a></li>

</ul>
    {% if category.name is active %}
            <h1>{{ category.name }}</h1>
    <ul class="prod_block">
        {% for product in products %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
            <li>{{ product.description }}</li>
            <hr>
        {% endfor %}
    </ul>
        {% else %}
            <h1>Список: {{ category.name }}</h1>
    <ul class="prod_block">
        {% for product in products %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
            <li>{{ product.description }}</li>
            <hr>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
